<aside>
  <div class="controller__fixed">
    <h4>Filter</h4>
    <div class="filter-group">
      <button ng-click="filterPosts()">All</button>
      <button ng-click="filterPosts('top')">Top</button>
      <button ng-click="filterPosts('other')">Other</button>
      <button ng-click="filterPosts('daily')">Daily</button>
    </div>
    <h4>Download CSV</h4>
    <div class="filter-group">
      <button ng-click="downloadCsv('top')">Top</button>
      <button ng-click="downloadCsv('other')">Other</button>
      <button ng-click="downloadCsv('daily')">Daily</button>
    </div>
    <h4>Pick a date for your daily top</h4>
    <date-picker ng-model="daily"></date-picker>
  </div>
</aside>
<section id="posts">
  <ul class="posts">
    <li ng-repeat="post in posts" class="post">
      <span class="post-id">{{post.id}}</span>
      <span class="post-title">{{post.title}}</span>
      <span class="post-comments">{{post.comments}}</span>
      <span class="post-views">{{post.views}}</span>
      <span class="post-likes">{{post.likes}}</span>
      <span class="post-timestamp">{{post.timestamp}}</span>
    </li>
  </ul>
  <p ng-if="posts.length === 0" class="message error">Sorry no posts match your search criteria.</p>
</section>
