body {
  padding: 0;
  width: 100%;
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #555;
  line-height: 2;
}

h4 {
  margin: 0;
}

#main {
  display: -webkit-flex;
  display: flex;
}

aside {
  flex: 0 0 300px;
}

section {
  flex: 0 0 auto;
}

.filter-group {
  margin-bottom: 20px;
}

.controller__fixed {
  position: fixed;
  top: 20px;
  left: 50px;
}

button {
  color: #00b7FF;
  padding: 6px 13px;
  border-radius: 4px;
  background: #fcfcfc;
  border: solid #c3ced4 1px;
}

button:hover {
  background-color: #e4f5f4;
  cursor: pointer;
}

button:focus {
  outline:0;
  background-color: #ffffff;
  color: #333;
}

ul {
  list-style-type: none;
}

.post span {
  padding: 0 6px;
}

.post-id {
  font-size: 80%;
}

.post-title {
  font-size: 120%;
}

.post-comments {
  color: #00b7ff;
}

.post-views {
  color: #81c173;
}

.post-likes {
  color: #de8383;
}